@use '../variables' as variables;

@media screen and (max-width: 991.98px) {
  .logo {
    max-width: 126px;
  }

  .navbar {
    padding: 17px 0 15px;
  }

  .navbar-collapse {
    background-color: variables.$bg-color-accent;
    margin: 0 -12px;
    padding: 0px 40px;
    text-align: center;
    transform: translate(0, 12px);
  }

  .navbar-nav {
    padding: 37px 0 34px;
  }

  .navbar-nav + .btn {
    margin-bottom: variables.$section-margin-mobile;
    width: 100%;
    font-size: 16px;
    max-width: 295px;
    padding: 21px 27px;
  }

  .nav-link {
    color: #fff;
    font-size: 24px;
    line-height: 222%;
    &:hover {
      color: variables.$primary-color;
    }
  }

  .template-title {
    &.template-title_case-3 {
      text-align: center;
      max-width: 100%;
      padding-bottom: 70px;

      h2 {
        &:after {
          @include variables.title-line;
          margin: 0;
        }
      }
    }
  }

  .bg-accent::before {
    border-radius: 0;
    inset: 0;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .swiper-banner {
    .swiper-slide {
      display: flex;
      text-align: center;
      align-items: center;
      min-height: calc(100vh - var(--header-height));
      &::before {
        content: '';
        position: absolute;
        background-color: #04091199;
        z-index: -1;
        inset: 0;
      }

      .container {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
    }
  }

  .banner-title {
    font-size: 36px;
  }

  .banner-description {
    font-size: 16px;
    margin-bottom: 18px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .calculation-img {
    display: none;
  }

  .input-box_checkbox:first-child {
    margin-top: 6px;
  }

  .template-title {
    h2 {
      font-size: 24px;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bottom, 8px);
  }

  .advantage__title {
    min-width: 218px;
    margin-bottom: 0 auto 40px;
  }

  .nice-select {
    &:after {
      display: none;
    }
  }

  .services {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .company {
    .container {
      align-items: center;
      flex-direction: column;
      gap: 25px;

      .company-description {
        width: 100%;
      }
      .template-title h2:after {
        left: calc(50% - 48px);
      }
      .template-title {
        h2 {
          text-align: center;
        }
      }
      .company-img {
        max-width: 450px;
      }
      .paragraph-1 {
        margin: 0 0 30px;
      }
      .paragraph-2 {
        margin: 0;
      }
    }
  }

  .questions__row {
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .questions-form {
    .btn-lg {
      min-width: 295px;
      padding: 19px 13px 20px;

      .arrow-left {
        margin-left: 100px;
      }
    }

    .input-box {
      width: 295px;
    }
  }

  .questions-form__title,
  .questions-form__subtitle {
    text-align: center;
  }

  .questions {
    .accordion {
      .accordion-button {
        font-size: 16px;
      }
    }
  }

  .accordion-body {
    .accordion-description {
      font-size: 14px;
    }
  }

  .partnership__content {
    flex-direction: column;
  }

  .partnership__content-item {
    width: 100%;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;

    p {
      margin-bottom: 30px;
    }
  }

  .order-mobile-negative {
    order: -1;
  }
  .partnership {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .advantages {
    .container {
      padding-left: 56px;
      padding-right: 56px;
    }
  }
  .footer {
    .footer__navigation {
      display: none;
    }
  }

  .footer__brand {
    text-align: center;
    font-size: 14px;
    align-items: center;
    width: 100%;
  }
}
