<section class="advantages bg-accent">
	<div class="container">
		<div class="template-title">
			<h2>Why choose us?</h2>
		</div>
		<div id="advantages" class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img
								src="../assets/img/surface1 adv.svg"
								class="advantage__img"
							/>
						</div>
						<h6 class="advantage__title">Customs clearance of cargo</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img
								src="../assets/img/check-mark 1 adv.svg"
								class="advantage__img"
							/>
						</div>
						<h6 class="advantage__title">Cargo insurance</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img
								src="../assets/img/magnifying-glass 1 adv.svg"
								class="advantage__img"
							/>
						</div>
						<h6 class="advantage__title">Checking goods for defects</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img
								src="../assets/img/delivery-truck 1 adv.svg"
								class="advantage__img"
							/>
						</div>
						<h6 class="advantage__title">Delivery to any city in Ukraine</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img
								src="../assets/img/speech-bubble 1 adv.svg"
								class="advantage__img"
							/>
						</div>
						<h6 class="advantage__title">Consolidation in warehouse</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img src="../assets/img/like 1 adv.svg" class="advantage__img" />
						</div>
						<h6 class="advantage__title">Responsible cargo storage</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img
								src="../assets/img/credit-card adv.svg"
								class="advantage__img"
							/>
						</div>
						<h6 class="advantage__title">Assistance with payment for goods</h6>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="advantage">
						<div class="advantage__img-box">
							<img src="../assets/img/stack 1 adv.svg" class="advantage__img" />
						</div>
						<h6 class="advantage__title">
							Packaging, repackaging, palletizing of cargo for international
							transport
						</h6>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>
