<section class="company">
  <div class="container">
    <div class="company-description">
      <div class="template-title template-title_case-2">
        <h2>About the company</h2>
      </div>
      <p class="paragraph-1">
        Asia Cargo is a full-service logistics company that delivers cargo from China to Ukraine, including consolidated
        cargo and full truckloads, Taobao intermediary services, and China-Ukraine cargo transportation. For your
        convenience, we offer rates for light and heavy cargo. We have been operating in the market for over 4 years,
        and our company's managers have been involved in logistics for over 11 years.
      </p>
      <p class="paragraph-2">
        We strive to provide the best delivery conditions and the best service to our customers. By choosing us, you are
        choosing high-quality delivery that is optimal in terms of price and time! See for yourself!
      </p>
    </div>
    <div class="img-box">
      <img src="assets/img/company.png" class="company-img" alt="notebook" />
    </div>
  </div>
</section>
