<section class="delivery">
	<div class="container">
		<div class="template-title">
			<h2>Options for shipping goods from China</h2>
			<div style="display: flex; gap: 48px">
				<div class="card">
					<img
						src="./assets/img/delivery 1.png"
						class="card-img-top"
						alt="delivery"
					/>
					<div class="card-body">
						<h5 class="card-title">Avia</h5>
						<ul class="card__options-list">
							<li class="card__options-item">
								<img src="./assets/img/calendar.svg" alt="calendar" />9-15 days
							</li>
							<li class="card__options-item">
								<img src="./assets/img/box.svg" alt="box" />from 5 kg
							</li>
						</ul>
						<div class="card__price">
							<b>2,5</b>
							<strong>2,5</strong>
						</div>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="card">
				<img src="..." class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up the
						bulk of the card's content.
					</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
</section>
